@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
html {
  background-color: #000;
}
.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #000;
  height: 100vh;
  padding-top: 10rem;
}

/* ******************Todo List****************** */
.container {
  position: relative;
  background-image: repeating-linear-gradient(#893af0, #000);
  min-width: 30vw;
  min-height: 270px;
  border: 1px solid #893af0;
  border-radius: 2rem;
  box-shadow: 0px 0px 35px 5px #893af0;
  margin-bottom: 10rem;
  padding-bottom: 2rem;
}
.list_container {
  position: relative;
}
.input_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.input {
  border-radius: 0.8rem;
  border: none;
  box-shadow: 0px 0px 35px 2px #000000;
  color: rgba(0, 0, 151, 0.568);
}
.buttons {
  display: flex;
  gap: 1rem;
}

.list_component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
}
.list_component h2 {
  max-width: 50vw;
  min-width: 280px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding: 5px 5px 5px 10px;
  border-radius: 1rem;
  margin-top: 0.5rem;
  overflow: hidden;
}

.btn {
  border-radius: 0.8rem;
}
.btn:is(:hover, :focus) {
  box-shadow: 0px 0px 15px 2px #893af0;
}
h1 {
  min-width: 240px;
  font-weight: 700;
  color: #36175e5b;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Todo Counters */
.all-counter,
.filtered-counter {
  position: absolute;
  bottom: -45px;
  left: 0;

  background-color: white;
  color: black;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid blue;
}
.filtered-counter {
  position: absolute;
  bottom: -45px;
  left: 35px;
  background-color: blue;
}
.arrow {
  position: absolute;
  bottom: -45px;
  left: 25px;
  color: white;
}
/* Completed button */

.completed {
  position: absolute;
  bottom: -45px;
  right: 0;

  background-color: black;
  color: white;
  width: 125px;
  height: 25px;
  border-radius: 12px;
  border: 1px solid blue;
}
.completed:hover {
  background-color: blue;
  color: white;
}

/* All todos button */
.all-todos {
  position: absolute;
  bottom: -45px;
  right: 135px;

  background-color: black;
  color: white;
  width: 65px;
  height: 25px;
  border-radius: 12px;
  border: 1px solid blue;
}
.all-todos:hover {
  background-color: blue;
  color: white;
}

@media only screen and (max-width: 340px) {
  .container {
    width: 280px !important;
  }

  .list_component {
    flex-direction: column;
    align-items: center !important;
    gap: 0.8rem;
    margin-bottom: 2.5rem;
    border: 1px solid white;
    border-radius: 12px;
    padding: 8px;
  }
  .buttons {
    width: 100%;
    justify-content: center;
  }
  .buttons button {
    width: 50%;
  }

  .list_component h2 {
    width: 220px !important;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 320px !important;
  }

  .list_component h2 {
    width: 280px !important;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    max-width: 400px !important;
  }

  .list_component h2 {
    max-width: 350px !important;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 480px;
  }

  .list_component {
    flex-direction: column;
    align-items: center !important;
    gap: 0.8rem;
    margin-bottom: 2.5rem;
    border: 1px solid white;
    border-radius: 12px;
    padding: 8px;
  }
  .buttons {
    width: 100%;
    justify-content: center;
  }
  .buttons button {
    width: 50%;
  }

  .list_component h2 {
    max-width: 435px;
  }
}
@media only screen and (min-width: 1200px) {
  .list_component h2 {
    min-width: 835px;
  }
}
